# Core & Web
Django
requests

# Machine Learning & Deep Learning (TensorFlow)
tensorflow
tensorflow-hub
keras
h5py
scikit-learn

# Computer Vision & Face Recognition
opencv-python
mtcnn
pillow
moviepy

# Audio Processing & Voice Recognition
librosa
soundfile
sounddevice
numpy
matplotlib

# Utilities
tqdm
colorama
lz4
